{% extends 'main_app/base/base.html' %}
{% load static %}
{% block page_title %}{{ page_title }}{% endblock page_title %}

{% block content %}

<section class="content text-center">
    <div class="container-fluid">
        <div class="row justify-content-between">
              <div class="col-4">
                <form class="form-inline mb-2">
                  <div class="form-group">
                    <input type="text" class="form-control" name="pesquisa" placeholder="nome">
                    <div class="input-group-append">
                      <button class="btn btn-secondary" type="submit">
                        <i class="fa fa-search"></i>
                      </button>
                    </div>
                </form>
              </div>
            </div>
            <div class="justify-content-end">
              <a href="{% url 'whatsapp_form' %}", class="btn btn-secondary btn-lg mr-3 mb-3" role="button" aria-disabled="true">ADICIONAR</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">{{ page_title }}</h3>
                    </div>
                    <!-- /.card-header -->
                    {%if page.object_list%}
                      <div class="card-body">
                          <table id="example2" class="table table-bordered table-hover">
                              <thead class="thead-dark">
                                <tr>
                                  <th>#</th>
                                  <th scope="col">NOME</th>
                                  <th scope="col">KEY</th>
                                  <th scope="col">STATUS</th>
                                  <th scope="col">Opções</th>
                                </tr>
                              </thead>
                              <tbody>
                                      {% for zap in page.object_list %}
                                          <tr>
                                              <td>
                                                {{ zap.id }}
                                              </td>
                                              <td>
                                                {{ zap.nome }}
                                              </td>
                                              <td>
                                                {{ zap.key }}
                                              </td>
                                                <td>
                                                  {% if zap.status == "open" %}
                                                    <span class="badge badge-pill badge-success">CONECTADO</span>
                                                  {% elif zap.status == "close" %}
                                                      <span class="badge badge-pill badge-danger">DESCONECTADO</span>
                                                  {% else %}
                                                      <span class="badge badge-pill badge-warning">CONECTANDO</span>
                                                  {% endif %}
                                                </td>
                                                <td>
                                                {% if zap.status == "open" %}
                                                    <a class="btn btn-primary" href="{% url 'whatsapp_desconect' zap.id %}">DESCONECTAR</a>
                                                    <a class="btn btn-danger" href="{% url 'whatsapp_delete' zap.id %}">EXCLUIR</a>
                                                {% else %}
                                                    <a class="btn btn-success" href="{% url 'conectar' zap.id %}">CONECTAR</a>
                                                    <a class="btn btn-warning" href="{% url 'whatsapp_desconect' zap.id %}">DESCONECTAR</a>
                                                    <a class="btn btn-danger" href="{% url 'whatsapp_delete' zap.id %}">EXCLUIR</a>
                                                </td>
                                                {%endif%}

                                          </tr>
                                      {% endfor %}
                              </tbody>
                          </table>
                      </div>
                    {%else%}
                      <div class="pt-5 pb-5">
                            Clique em adicionar para criar sua primeira instância
                      </div>
                    {%endif%}
                </div>
                {%if qrcode %}
                      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
                      <script>
                        $(document).ready(function(){
                           $('#conectmodak').modal('show')
                        });
                      </script>
                    {%endif%}
                <div>
                    <nav aria-label="Page navigation example mt-3">
                      <ul class="pagination">
                        <li class="page-item">
                          {%if page.has_previous%}
                            <a class="page-link" href="{% url 'whatsapp_list' %}?page={{page.previous_page_number}}" aria-label="Previous">
                              <span aria-hidden="true">&laquo;</span>
                              <span class="sr-only">Previous</span>
                            </a>
                          {%endif%}
                        </li>
                        {% for page_number in page.paginator.get_elided_page_range %}
                              {% if page_number == page.paginator.ELLIPSIS %} 
                                   {{page_number}}
                              {% else %}
                                    <li class="page-item">
                                        <a href="{% url 'whatsapp_list' %}?page={{page_number}}"
                                          class="page-link {% if page_number == page.number %}current{% endif %}"
                                          >{{page_number}}
                                        </a>
                                    </li>
                              {% endif %}
                        {% endfor %}
                        <li class="page-item">
                          {%if page.has_next%}
                              <a class="page-link" href="{% url 'whatsapp_list' %}?page={{page.next_page_number}}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                              </a>
                          {%endif%}
                        </li>
                      </ul>
                    </nav>
                  </div>
            </div>
        </div>
    </div>
  </div>
  {%if qrcode %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script>
      $(document).ready(function(){
         $('#conectmodak').modal('show')
      });
    </script>
  {%endif%}
  <!-- Modal -->
  <div class="modal" id="conectmodak" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">CONEXÃO COM whatsapp</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          <p><img src="{{ qrcode }}" width="300" height="300"/>
          </p>
        </div>
        <div class="modal-footer">
          <a href="{% url 'whatsapp_list' %}" class="btn btn-info" role="button">FECHAR</a>
        </div>
      </div>
    </div>
  </div>
  <!-- /Modal -->
</section>
{% endblock content %}
