{% extends 'main_app/base/base.html' %}
{% load static %}
{% block page_title %}{{ page_title }}{% endblock page_title %}

{% block content %}

<section class="content text-center">
    <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 text-center">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">{{ page_title }}</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="table_db" class="table table-bordered table-hover">
                            <thead class="thead-dark">
                                <tr>
                                  <th>#</th>
                                  <th scope="col">NOME</th>
                                  <th scope="col">KEY</th>
                                  <th scope="col">STATUS</th>
                                  <th scope="col">Opções</th>
                                </tr>
                              </thead>
                              <tbody>
                                      {% for zap in page %}
                                          <tr>
                                              <td>
                                                {{ zap.id }}
                                              </td>
                                              <td>
                                                {{ zap.nome }}
                                              </td>
                                              <td>
                                                {{ zap.key }}
                                              </td>
                                                <td>
                                                  {% if zap.status == "open" %}
                                                    <span class="badge badge-pill badge-success">CONECTADO</span>
                                                  {% elif zap.status == "close" %}
                                                      <span class="badge badge-pill badge-danger">DESCONECTADO</span>
                                                  {% else %}
                                                      <span class="badge badge-pill badge-warning">CONECTANDO</span>
                                                  {% endif %}
                                                </td>
                                                <td>
                                                {% if zap.status == "open" %}
                                                    <a class="btn btn-warning" href="{% url 'whatsapp_desconect' zap.id %}"><i class="fas fa-qrcode"></i></a>
                                                    <a class="btn btn-danger" href="{% url 'whatsapp_delete' zap.id %}"><i class="fas fa-trash-alt"></i></a>
                                                {% else %}
                                                    <a  
                                                    hx-get="{% url 'conectar' zap.id %}" 
                                                    class="btn btn-primary"
                                                    hx-target="#dialog" 
                                                    data-toggle="modal"
                                                    data-target="#modal"
                                                    href="#"><i class="fas fa-qrcode"></i></a>
                                                    <a class="btn btn-warning" href="{% url 'whatsapp_desconect' zap.id %}"><i class="fas fa-qrcode"></i></a>
                                                    <a class="btn btn-danger" href="{% url 'whatsapp_delete' zap.id %}"><i class="fas fa-trash-alt"></i></a>
                                                </td>
                                                {%endif%}

                                          </tr>
                                      {% endfor %}
                              </tbody>
                          </table>
                      </div>
                </div>
                <div>
                    <nav aria-label="Page navigation example mt-3">
                      <ul class="pagination">
                        <li class="page-item">
                          {%if page.has_previous%}
                            <a class="page-link" href="{% url 'whatsapp_list' %}?page={{page.previous_page_number}}" aria-label="Previous">
                              <span aria-hidden="true">&laquo;</span>
                              <span class="sr-only">Previous</span>
                            </a>
                          {%endif%}
                        </li>
                        {% for page_number in page.paginator.get_elided_page_range %}
                              {% if page_number == page.paginator.ELLIPSIS %} 
                                   {{page_number}}
                              {% else %}
                                    <li class="page-item">
                                        <a href="{% url 'whatsapp_list' %}?page={{page_number}}"
                                          class="page-link {% if page_number == page.number %}current{% endif %}"
                                          >{{page_number}}
                                        </a>
                                    </li>
                              {% endif %}
                        {% endfor %}
                        <li class="page-item">
                          {%if page.has_next%}
                              <a class="page-link" href="{% url 'whatsapp_list' %}?page={{page.next_page_number}}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                              </a>
                          {%endif%}
                        </li>
                      </ul>
                    </nav>
                  </div>
            </div>
        </div>
    </div>
  </div>
  
<!-- o modal de editar vai ser inserido aqui -->
<div id="modal" class="modal fade">
    <div id="dialog" class="modal-dialog" hx-target="this"></div>
</div>

<!-- Empty toast to show the message -->
<div class="toast-container position-fixed top-0 end-0 p-3">
    <div id="toast" class="toast align-items-center text-white bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
        <div id="toast-body" class="toast-body"></div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    </div>
</div>
</section>
{% block custom_js %}
<script>
  $(document).ready(function () {
  $('#table_db').DataTable( {
      "paging": true,
      "searching": true,
      "autoWidth": false,
      "ordering": true,
      "columnDefs": [
          {"width": "50px", "targets": 0},
          {"width": "250px", "targets": 1},
      ],
  }
  );
} );
</script>
{% endblock custom_js %}
</section>
{% endblock content %}

