<form action="{{ request.path }}" method="post" class="modal-content" id="formAdicionarInstancia">
    {% csrf_token %}
    <div class="modal-header">
        <h5 class="modal-title">Adicionar Instancia</h5>
    </div>
    <div class="modal-body">
        {{ form.as_p }}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">FECHAR</button>
        <button id="btnSave" type="submit" class="btn btn-primary">Salvar</button>
    </div>
</form>

{% block custom_js %}
<script>
    document.getElementById('formAdicionarInstancia').addEventListener('submit', function (event) {
        var btnSave = document.getElementById('btnSave');
        btnSave.disabled = true;
        btnSave.innerHTML = `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Carregando...`;

    });
</script>
{% endblock custom_js %}
