<form action="{{ request.path }}" method="post" class="modal-content">
    {% csrf_token %}
    <div class="modal-body">
        <div class="form-group">
            <label>Tem certeza que deseja alterar sua senha?</label>
        </div>
        <div class="mb-3 mb-sm-0">
            <input type="hidden" required id="id" name="id" placeholder="id">
        </div>
        <div class="mb-3 mb-sm-0">
            <label for="senha" class="form-label custom-label">Senha</label>
            <input type="password" required class="form-control form-control-user" id="senha" name="senha" placeholder="Senha">
        </div>
        <div class="">
            <label for="resenha" class="form-label custom-label">Confirmar senha</label>
            <input type="password" required class="form-control form-control-user" id="resenha" name="resenha" placeholder="Confirmar senha...">
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
            <i class="fas fa-times mr-1"></i> Voltar
        </button>
        <button type="submit" class="btn btn-primary" id="alterar-btn" disabled>
            <i class="fas fa-check mr-1"></i> Alterar
        </button>
    </div>
</form>



{% block custom_js %}
<script>
    const passwordInput = document.getElementById('senha');
    const confirmPasswordInput = document.getElementById('resenha');
    const alterarBtn = document.getElementById('alterar-btn');

    // Função para validar a força da senha (simulando a lógica de força)
    const updatePasswordStrength = () => {
        const password = passwordInput.value;
        const minLength = 6; // Exemplo de força mínima
        validateForm(password.length >= minLength);
    };

    // Função para validar se as senhas coincidem
    const validarSenha = () => {
        if (passwordInput.value !== confirmPasswordInput.value) {
            confirmPasswordInput.setCustomValidity("Senhas diferentes!");
        } else {
            confirmPasswordInput.setCustomValidity("");
        }
        validateForm();
    };

    // Função que habilita o botão apenas se as condições forem atendidas
    const validateForm = (isStrongEnough = false) => {
        if (
            passwordInput.value === confirmPasswordInput.value &&
            passwordInput.value.length >= 6 // Exemplo de validação de força mínima
        ) {
            alterarBtn.disabled = false;
        } else {
            alterarBtn.disabled = true;
        }
    };

    // Eventos para validar a cada alteração nos campos
    passwordInput.addEventListener('input', updatePasswordStrength);
    confirmPasswordInput.addEventListener('input', validarSenha);
</script>

{% endblock custom_js %}