<!-- Modal -->
{% load static %}
<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Conexão com whatsapp</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        {% if status %}
            <h5>Não foi possível gerar o qrcode</h5>
            <p><img src="{% static 'dist/img/triste.png' %}" width="300" height="300"/>
        {% else %}
            <p><img src="{{ qrcode }}" width="300" height="300"/>
        {% endif %}
      </div>
      <div class="modal-footer">
        <a type="button" href="{% url 'home' %}" class="btn btn-secondary" data-dismiss="modal">CONCLUIR</a>
    </div>
    </div>
  </div>
 
  